<configuration>
    <intuit>
        <ipp>
            <!--Json serialization not supported in PHP SDK v2.0.5 -->
            <message>
                <request serializationFormat="Xml" compressionFormat="None"/>
                <response serializationFormat="Xml" compressionFormat="None"/>
            </message>
            <service>
                <baseUrl qbd="https://quickbooks.api.intuit.com/" qbo="https://quickbooks.api.intuit.com/" ipp="https://quickbooks.api.intuit.com/" />
            </service>
            <logger>
                <!-- To enable/disable Request and Response log-->
                <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="/IdsLogs" />
            </logger> 
        </ipp>
        <appSettings>
            <!--These samples use a hard-coded realm ID and OAuth tokens.  Enter the values below. -->
            <add key="AccessToken" value="qyprdqPXptOj22RAfuk7be0XIehjws7N1fJG66ypWfUp3hZf" />
            <add key="AccessTokenSecret" value="oAteBiKJdinAqTBi0dhjjHaUh0i3OPxWe7QTDxIP" />
            <add key="ConsumerKey" value="qyprd0HRt7eOAA209qwpJ9rVkGLyyf" />
            <add key="ConsumerSecret" value="RJ2QCLLBrT1XufnBPsgZcdBLPpx2kz1e3NV018bJ" />
            <add key="RealmID" value="1331675730" />
        </appSettings>
    </intuit>
</configuration>